@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap');

$fontfamilypri: 'Montserrat',
cursive;
$fontfamilysec: 'Josefin Sans',sans-serif;
$light: 300;
$regular: 400;
$bold: 700;
$smaller: 30px;
$larger: 3.2rem;
$verysmall: 15px;
$xxs: 12px;